{% extends 'shop/layouts/main.html' %}
{% block title %}
Register || Roshan_kart
{% endblock title %}
{% block content %}
<div class="container" style="margin-top: 70px;">
    <div class="row">
        <div class="col-12">
            <h3>Login</h3>
            <hr style="border-color:#b8bfc2;">
            {% include 'shop/inc/messages.html' %}
        </div>
        <section class="py-4 my-5 rf">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-6">
                        <form method="post" action="">
                            {% csrf_token %}
                            <div class="mb-4">
                                <label for="Username" name="form-control">Username</label>
                                <input type="text" class="form-control" id="usernmae" name="username" placeholder="Enter User Name">
                            </div>
                            <div class="mb-4">
                                <label for="Password" name="form-control">Password</label>
                                <input type="password" class="form-control" id="password" name="password" placeholder="Enter Your Password">
                            </div>
                            <button tupe="submit" class="btn btn-success">Login</button>
                               
                        </form>
                        
                     
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock content %}
